

.Title h3{
    text-align: center;

    font-size: 40px;
    font-weight: 800;
    color: #333;
    text-transform: uppercase;
    text-decoration-line: underline;
}

.contactSection {
  padding: 4rem 1.5rem;
}

.contactCard {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;

  width: 100%;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(10px);
  border-radius: 16px;
  padding: 3rem;
}

.imageWrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
  border: #333 2px solid;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.field label {
  font-size: 0.9rem;
  color: #3a3a3a;
}

.field input,
.field textarea {
  background: transparent;
  border: 1px solid #3a3a3a;
  border-radius: 8px;
  padding: 0.7rem 0.8rem;
  color: #fff;
  font-size: 0.9rem;
}


.button {
  margin-top: 1rem;
  padding: 0.8rem;
  border-radius: 8px;
  border: none;
  background-color: var(--hover-color);
  color: #fff;
  font-size: 0.95rem;
  cursor: pointer;
  transition: transform 0.1s ease, opacity 0.2s ease;
}

.button:hover {
  transform: translateY(-1px);
  opacity: 0.9;
}

